<script type="text/javascript">
$(function(){
  var data = {
    labels: [<%= @labels.join(", ") %>],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [<%= @temps.join(", ") %>]
        }
    ]
  };

  tempChart = new Chart($("#temp").get(0).getContext("2d")).Line(data)

})

</script>


<div class="row">
  <div class="col-sm-1">
  </div>

  <div class="col-sm-10 rcol">

    <div class="row">
      <h3 class="page-header">Температура</h3>
      <canvas id="temp" width="800" height="300"></canvas>
    </div>

    <div class="row">
      <h3 class="page-header">Влажность</h3>
    </div>

    <div class="row">
      <h3 class="page-header">Давление</h3>
    </div>

  </div>
</div>
