
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10 rcol">

    <div class="row">

  <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">Devices</div>
        <table class="table table-striped">
          <tr>
            <th>№</th>
            <th>Owner</th>
            <th>MAC address</th>
            <th>First measurement</th>
            <th>Last measurement</th>
          </tr>
          <% @devices.each do |d| %>
          <tr>
            <td><%= d.id %></td>
            <td><%= d.owner %></td>
            <td><%= link_to d.mac, stat_url(d.id) %></td>
            <td><%= d.measurements.count %></td>
            <td><%#= d.measurements.order(:measured_at).where("measured_at is not null").first.measured_at %></td>
            <!-- <td><%#= d.measurements.order(:measured_at).where("measured_at is not null").last.measured_at %></td> -->
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


